.appTrivia{
    height: 100vh;
    display: flex;
    background-color: rgb(8, 8, 8);
    color: white;
    overflow: hidden;
}
.main{
width: 75%;
background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 128, 128, 0.6)),
 url("https://images.pexels.com/photos/1191710/pexels-photo-1191710.jpeg?auto=compress&cs=tinysrgb&w=600");
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
}

.top{
    height: 50%;
    position: relative;
}

.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom:10px;
    left: 80px;
}

.bottom{
    height: 50%;
}

.pyramid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.pointsList{
    list-style: none;
    width: 100%;
    padding: 20%;
}

.pointsListItem{
display: flex;
align-items:flex-start;
padding: 5px;
border-radius: 5px;
}

.pointsListItem.active{
    background-color: teal;
}

.pointListNumber{
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.pointListAmmount{
    font-size: 20px;
    font-weight: 300;
}

////////////////////// para preguntas component /////////////

.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question{
    width: 80%;
   overflow: hidden;
    background-color:  rgba(8, 8, 8, 0.8);
    border: 2px solid teal;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}

.answers{
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.answer{
width: 40%;
padding: 10px;
background-color: teal;
text-align: center;
border: 2px solid black;
border-radius: 15px;
font-size: 20px;
margin: 20px 30px;
cursor: pointer;
}
