@import "../../global.scss";

.ContainerMax{
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 26);
  @include mobile {
    display: flex;
    flex-direction: column;
  }
} 
.Container {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Navbar {
    display: flex;
    align-items: center;
    clip-path: polygon(50% 0%, 150% 0%, 0% 100%, 0% 0%);
    background-color: crimson;
    height: 150px;
    width: 100%;
    .inicio {
      height: 80px;
    }
  }
  .cards{
    height: 100%;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
      height: 400px;
    }
  }
  .galery{
    color: white;
    overflow: hidden;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    @include mobile {
      font-size: 20px;
    }
  }
}