@import "../../global.scss";

.AboutMe {
    display: flex;
    align-items: center;
    background-color:crimson;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
}

.ho{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
    justify-content: space-around;
}
.border{
    border: 3px black solid;
    display: flex;  
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    padding: 5px;
    @include mobile{
        display: flex;
        border-radius: 20px;
        padding: 5px;
        flex-direction: column;
        position: relative;
        height: 400px;
        width: 90%;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-between;
    }
}
.ContainerB{
   width: 100%;
   display: flex;
   padding: 5px;
   overflow: hidden;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   padding: 10px;
   position: relative;
   
   @include mobile{
       width: 200px;
       height: 100px;
    }
}

.itemB{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 300px;
    overflow: hidden;
    
    @include mobile{
        height: fit-content;
        width: 100px;
    }
}
.bitmojis{
    height: fit-content;
    transition: all 1s ease-in-out;
    width: 250px;
    filter: drop-shadow(10px 5px black);
    justify-content: space-around;
    transition: all 1s ease-in-out;
    cursor: pointer;
    
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
    @include mobile{
        height: 100px;
        filter: none;
    }
}
.bitmojis:hover{
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

.desc{
    background-color: white ;
    padding: 10px;
    border-radius: 20px;
    border: black 3px solid;

    @include mobile{
        padding: 1px;
        border: black 1px solid;
        width: 100px;
    }
}
.h2{
    text-align: center;
    @include mobile{
        font-size: 10px;
    }
}

.h1{
    color: black;
   text-shadow: 2px 2px white;
   @include mobile{
    font-size: 30px;
   }
}
.p{
 @include mobile{
     display: none;
 }
}

@media screen and (max-width: 1100px) {
    .h1{
        font-size: 30px;
        @include mobile{
    font-size: 30px;
   }
    }
    .h2{
        font-size: 20px;
        @include mobile{
            font-size: 10px;
        }
    }
    .p{
        font-size: 15px;
        @include mobile{
            display: none;
        }
    }
    .border{
        height: 400px;
    }
    .ContainerB{
        height: fit-content;
        @include mobile{
            width: 200px;
            height: 100px;
        }
    }
    .itemB{
        height: fit-content ;
        @include mobile{
            height: fit-content;
            width: 100px;
        }
    }
    .bitmojis{
        @include mobile{
            height: 100px;
            filter: none;
        }
    }
 }